/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License")
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

import React from "react"
import ErrorBoundary from "react-error-boundary"

import { HashRouter as Router, Routes, Route } from "react-router-dom"

import ExtensionRegistration from "./ExtensionRegistration"
<%# "Add import statements for modals" -%>
<% const actionBarButtons = extensionManifest.actionBarButtons || [] -%>
<% const headerMenuButtons = extensionManifest.headerMenuButtons || [] -%>
<% const allCustomButtons = actionBarButtons.concat(headerMenuButtons) -%>
  <% allCustomButtons.forEach((button) => { -%>
    <% if (button.needsModal) { -%>
      <% const modalFileName = button.label.replace(/ /g, '') + 'Modal' %>
import <%- modalFileName %> from "./<%- modalFileName %>"
<% }}) -%>

function App(props) {
  return (
    <Router>
      <ErrorBoundary onError={onError} FallbackComponent={fallbackComponent}>
        <Routes>
          <Route index element={<ExtensionRegistration />} />
          
          <Route
            exact path="index.html"
            element={<ExtensionRegistration />} 
          />
          <% if (extensionManifest.actionBarButtons) { -%>
            <% extensionManifest.actionBarButtons.forEach((button) => { -%>
              <% if (button.needsModal) { %>
          <Route
            exact path="content-fragment/:fragments/<%- button.id %>-modal"
            element={<<%- button.label.replace(/ /g, '') %>Modal />}
          />
          <% }})} -%>
          <% if (extensionManifest.headerMenuButtons) { -%>
            <% extensionManifest.headerMenuButtons.forEach((button) => { -%>
              <% if (button.needsModal) { %>
          <Route
            exact path="<%- button.id %>-modal"
            element={<<%- button.label.replace(/ /g, '') %>Modal />}
          />
          <% }})} %>
        </Routes>
      </ErrorBoundary>
    </Router>
  )

  // Methods

  // error handler on UI rendering failure
  function onError(e, componentStack) {}

  // component to show if UI fails rendering
  function fallbackComponent({ componentStack, error }) {
    return (
      <React.Fragment>
        <h1 style={{ textAlign: "center", marginTop: "20px" }}>
          Phly, phly... Something went wrong :(
        </h1>
        <pre>{componentStack + "\n" + error.message}</pre>
      </React.Fragment>
    )
  }
}

export default App
